* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  color: lightsalmon;
}

.App {
  text-align: center;

}

img {
  max-width: 18px;
  cursor: pointer;
}

form{
  margin: 15px auto 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 90%;
  justify-content: center;
}

button{
  margin-top: 5px;
  background: lightsalmon;
  border: 1px solid lightsalmon;
  color: white;
}

.newTaskContainer, .taskContainer {
  max-width: 90%;
  margin: 10px auto;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid lightsalmon; 
}

main {
  background-color: white;
  max-width: 50%;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

li {
  list-style: none;
}

h2 {
  color: white;
  margin: 0 auto 10px auto;
}


.taskContainer {
  background-color: lightsalmon;
  color: white;
}

@media only screen and (min-width: 426px) {
  .container {
    max-width: 70%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 769px) {
  .container {
    max-width: 50%;
    margin: 0 auto;
  }
}
