.App {
  padding: 0;
}

.colorPeach {
  background-color: #ffdab9 !important ;
}

.landingPage {
  max-width: 90%;
  /* margin: 100px auto; */
  border: 5px solid #ffdab9;
  padding: 50px;
  border-radius: 9px;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.sectionHeader {
  background-color: #ffdab9;
  max-width: fit-content;
  padding: 5px;
  border-radius: 8px;
  margin: 10px;
}

.card-body {
  background-color: #c0f0f7;
}

.badge {
  background-color: #ffdab9;
  color: #000000 !important;
}

.addUserBadge {
  background-color: white;
  border: 2px solid #ffdab9;
}

.choresContainer {
  overflow-x: auto;

}
.choresContainer::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.choreCard {
  flex: 0 0 auto;
}

.blueBg {
  background-color: #c0f0f7 !important;
}

.checkIcon {
  position: relative;
  left: 60%;
  /* background-color: #c0f0f7 !important;
  border: #c0f0f7 !important; */
}
img {
  width: 40px;
}

.newNoteFormContainer {
  max-width: 50% !important;
}