html {
    height: 100%;
}
body {
    background-image: linear-gradient(to bottom, #FAE8E0, #D8A7B1, #B6E2D3, #FAE8E0) ;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgba(0, 0, 0, 0.7);
    font-weight:500;
}

main {
    height: 80vh;
}

footer {
    background-color:rgba(255, 255, 255, 0.5);
    position: fixed;
    bottom: 0;
    width: 100%;
}

h4, h3, h2 {
    font-family: 'Bebas Neue';
    letter-spacing: 0.05rem;
    font-size: 1.75rem;
}


#homeInfo h1 {

    font-family: 'Bebas Neue';
    letter-spacing: 0.3rem !important;
    font-size: 3rem;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(20, end),
      blink-caret .75s step-end infinite;
}
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #B6E2D3; }
  }

h3 {
    margin-left: 15px !important;
    margin-top: 15px !important;
    margin-bottom: 0 !important;
}

/* a {
    text-decoration: none;
    color: black;
} */

a:hover {
    cursor: pointer;
}

.container {
    display: grid;
}

.imgContainer, .badgeContainer {
    grid-area: 1/1;
}

.imgContainer:hover + .badgeContainer {
    display: flex;
    flex-wrap: wrap;
}

.badgeContainer {
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.projectContainer {
    margin: 50px 0;
}

.infoContainer {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 5px 13px;
    border-radius: 5px;
}

#contactDetails {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    width: fit-content;
    margin: 0 auto;
    padding: 15px;
}

#programmerIcon {
    transform: scaleX(-1);
    max-width: 80%;
}

#wavingProgrammerIcon {
    max-width: 60%;
}

.navbar {
    background-color: white;
    font-family: 'Bebas Neue';
    font-size: 1.5rem;
}

.navbar a {
    color: #EF7C8E !important;
    margin: 0 15px !important;
}

.navbar a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #EF7C8E;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.navbar a:hover:after { 
    width: 100%; 
    left: 0; 
  }

  .navbar li {
        display: table-cell; 
        position: relative; 
  }

  .button {
      background-color: rgba(255, 255, 255, 0.9) !important;
      color: #EF7C8E;
      border: 1px solid #EF7C8E;
  }

@media only screen and (max-width: 767px) {
    .iconContainer {
        order: -1;
        margin-top: 1.5rem;
    }

    #homeInfo {
        margin: 1.5rem !important;
    }

    #wavingProgrammerIcon, #programmerIcon {
        width: 65%;
        margin: 0 auto;
    }

    .navbar a {
        margin: 0 !important;
    }
}